.product-card {
    height: 480px;
    padding: 1rem 0rem;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.product-image {
    width: 100%;
    height: 280px;
    margin-bottom: 1rem;
}

.product-image>img {
    width: 100%;
    height: 100%;

    border-radius: 1rem;

}

.product-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: .5rem 1rem;
}

.product-info h3 {
    font-size: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-info span {
    font-size: 1.6rem;
    font-weight: 500;
}

.price h4 {
    font-size: 1.8rem;
    font-weight: 700;
}

.product-info p {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.add-btn{
    width: 100%;
}
.add-btn button{
    width: 100%;
    background-color: #ff0054;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 0rem;
    border-radius: .5rem;
    cursor: pointer;
}