.product-container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 500px;
    gap: 3rem;
    margin: 0rem auto;
    padding-top: 8rem;
}