.right-section h2 {
    line-height: 3;
    text-align: center;
}
.right-nav h4{
    font-size: 1.7rem;
}
.right-nav{
    margin-bottom: 3rem;
}
.width {
    width: 5rem;
}

.input-width {
    width: 10rem;

}

.product {
    gap: 2rem;
}

.itemC {
    font-weight: 600;
}


select {
    width: 100%;
    padding: 1.3rem 1rem;
    border: none;
    font-size: 1.7rem;
    margin: 2rem 0rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: .5rem;

}
select, option{
    color: #000;
}

.promo-section {
    padding: 4rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.promo-section input {
    width: 100%;
    height: 5rem;
    padding: 0rem 2rem;
    border: none;
    margin: 2rem 0rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.promo-section input:focus,
select:focus {
    outline: none;
}

.apply,
.place-order{
    width: max-content;
    padding: 0.9rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    border: none;
    background: #ff0054;
    color: #fff;
    letter-spacing: 2px;
    border-radius: .5rem;
    cursor: pointer;
}

.final {
    padding: 3rem 0rem;
}

.final h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
   
}

.place-order {
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
}

.place-order:active,
.apply:active {
    transform: scale(.97);
}
.shipping{
    font-size: 2rem;
    text-transform: uppercase;
}